.advantages {
    .flex();
}

.advantages__list {
    list-style-type: none;
    .flex();
    padding: 0;
    margin: 0;
    @media (min-width: @desktop-width) {
        display: block;
      }
  
    @media (min-width: @tablet-width) {
      .flex();
      flex: 1 1 30%;
      padding-top: 0;
      min-height: 256px;
    }
}

.advantages__item-container {
    background-color: #81b3d2;
    color: #ffffff;
}

.advantages__title {
    font-size: 21px;
    line-height: 26px;
}

.advantages__slogan {
    font-size: 21px;
    line-height: 36px;
    font-weight: 700;
}

.advantages__container {
    width: 282px;

    @media (min-width: @tablet-width) {
        width: 520px;
    }       
    @media (min-width: @desktop-width) {
        width: 484px;
    }
}






