.checkattraction__label {
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.checkattraction__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 69px;
}
