.description__name {
  font-weight: 700;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    color: #000000;
    margin-bottom: 14px;
  }

  @media (min-width: @desktop-width) {
    color: #ffffff;
    margin: 0;
  }
}

.description__name-author {
  text-transform: none;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    color: #333333;
    margin-top: 14px;
  }

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.description {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 75%;
    left: 5%;
  }
}
