.feedback-form__button {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  padding: 34px 60px 13px 32px;

  @media (min-width: @tablet-width) {
    padding: 18px 60px 13px 49px;
  }
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form__legend {

  @media (min-width: @tablet-width) {
    margin-left: 132px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 180px;
  }
}
