.style_title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.feedback__header {
  margin: 115px 0 67px 0;
  padding: 0 180px;
}

.feedback__slogan,
.sent__slogan,
.error__slogan {

  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
}

.feedback__intro {
  color: #333333;
  font-size: 21px;
  line-height: 26px;
}

.fullnameinfo__title
{
  .style_title;
  margin-bottom: 49px;
}

.desripfeels__title {

  .style_title;
  margin-bottom: 28px;

}

.contactinform__title {

  .style_title;
  margin-bottom: 49px;
 }

.feelings__title {
  margin-bottom: 55px;
  .style_title;
}

.checkattraction__title {

  .style_title;
  margin-bottom: 69px;
}

.feelings__label,
.checkattraction__label {
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.sent__button,
.feedback-form__button,
.error__button {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81B3D2;
  border: none;
}
