.feelings__title {
  text-align: center;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  @media (min-width: @desktop-width) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.feelings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: none;
  border-top: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    width: 80%;
    flex-direction: row;
    border-color: #dbdbdb;
    margin-top: 56px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 120px;
  }
}

.feelings__label:not(:last-child) {
  @media (min-width: @tablet-width) {
    margin-right: 50px;
  }
}

.feelings__input {
  display: none;
}

.feelings__container {
  display: flex;
  flex-wrap: wrap;
  width: 33%;

  @media (min-width: @tablet-width) {
    display: block;
    width: 60%;
  }
  @media (min-width: @desktop-width) {
    display: inherit;
    width: 100%;
  }

}

.feelings__label {
  display: flex;
  align-items: center;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
	cursor: pointer;
	position: relative;
	padding-left: 50px;
	margin-right: 0;
	user-select: none;
}

.feelings__label::before {
	content: "";
	display: inline-block;
	width: 46px;
	height: 46px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url("../img/rbnotchecked.svg") 0 0 no-repeat;
}

.feelings__input:checked + .feelings__label::before {
  background: url("../img/rbchecked.svg") 0 0 no-repeat;
}

/* Hover */
.feelings__input:hover  + .feelings__label::before {

}

/* Disabled */
.feelings__input:disabled + .feelings__label::before {
	filter: grayscale(100%);
}
