.feelings__title {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border-top: 1px solid #e5e5e5;
  padding-top: 36px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-right: 60px;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    border: none;
    padding-right: 101px;
    margin-bottom: 53px;
  }
}

.feelings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: none;

  @media (min-width: @tablet-width) {
    width: 80%;
    flex-direction: row;
    border-color: #dbdbdb;
    margin-top: 12px;
    margin-left: 96px;
    margin-bottom: -2px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 122px;
    padding: 0;
    margin-top: 58px;
    margin-bottom: 50px;
    padding-left: 47px;
  }
}

.feelings__label:not(:last-child) {
  @media (min-width: @tablet-width) {
    margin-right: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 51px;
  }
}

.feelings__input {
  display: none;
}

.feelings__container {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: inherit;
    width: 100%;
  }
}

.feelings__label {
  display: flex;
  align-items: center;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  padding-left: 72px;
  margin-right: 0;
  user-select: none;
  margin-bottom: 36px;

  &::before {
    content: "";
    display: inline-block;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 0;
    background: url("../img/rbnotchecked.svg") 0 0 no-repeat;
    top: 0;

    @media (min-width: @tablet-width) {
      top: -40%;
    }
    @media (min-width: @desktop-width) {
      left: 5px;
    }
  }
}

.feelings__input:checked + .feelings__label::before {
  background: url("../img/rbchecked.svg") 0 0 no-repeat;
}

/* Hover*/
.feelings__input:hover:checked + .feelings__label::before {
  background: url("../img/rbchecked_hover.svg") 0 0 no-repeat;
}

.feelings__input:hover  + .feelings__label::before {
  background: url("../img/rbnotchecked_hover.svg") 0 0 no-repeat;
}

/* Disabled */
.feelings__input:disabled + .feelings__label::before {
  filter: grayscale(100%);
}
