.full-name-info {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    width: 32%;
    margin-left: 49px;
    margin-right: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 120px;
    margin-right: 90px;
  }
}

.full-name-info::after {
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
}

.full-name-info__title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 21px;
  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 30px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 28px;
    margin-left: 35px;
  }
}

.full-name-info__input {
  font-weight: bold;
  background-color: #f2f2f2;
  color: #000000;
  border: 4px solid #f2f2f2;
  padding: 21px;
  min-width: 229px;
  max-width: 388px;
  margin-bottom: 7px;
  &:hover {
    background-color: #e5e5e5;
  }
  &:active {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }
}

.full-name-info__label {
  max-width: 388px;
  margin-left: 12px;
}

.full-name-info__input:hover {
  outline: none;
  color: #000000;
  outline-offset: -4px;
  background-color: #e5e5e5;
}

.full-name-info__input:focus-within {
  color: #000000;
  background-color: #ffffff;
  outline-offset: -4px;
  outline: solid 4px #e5e5e5;
}
