.main-header {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  height: 56px;
  margin: 0 auto;
  z-index: 10;

  @media (min-width: @tablet-width) {
    height: 56px;
  }
}
