.main-container__sedona-picture {
  background-image: url("../img/sedona-1.jpg");
  width: 1200px;
  height: 518px;
  max-width: 100%;
  object-fit: contain;
  position: relative;

  &--cut {

  }

  @media (min-width: @tablet-width) {
    background-position: 50% 0;
    background-size: cover;
  }
}

.main-container__sedona-picture::after {
  background-image: url("../img/border.svg");
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0%;
  object-fit: cover;
  margin-left: -300px;
  @media (min-width: @tablet-width) {
    margin-left: -100px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.main-container__welcome-picture {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(20%);
  top: 0%;

  &--sedona-header {
    left: 50%;
    top: 30%;
  }

}
