.mediafiles__header {
  margin: 100px 0 65px 0;
  padding: 0 180px;
}

.mediafiles__slogan, .videopresentation__title {
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
}

.mediafiles__list {
  list-style-type: none;
}

.mediafiles__item {
  color: #ffffff;
  background-color: #585353;
}

.mediafiles__name {
  font-weight: 700;
}

.mediafiles__name-author {
  text-transform: none;
}

.videopresentation {
  margin: 62px 0 120px 0;
}

.videopresentation__video {
  padding-top: 64px;
}
