.modal-error__button {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  padding: 18px 64px 14px;
  transform: translateX(27%) translateY(30%);

  @media (min-width: @tablet-width) {
    padding: 19px 108px 14px;
    transform: translateX(13%) translateY(50%);
  }
}

.modal-error {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-error__container {
  box-sizing: border-box;
  padding: 48px 47px 49px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: @tablet-width) {
    width: 400px;
    height: 347px;
  }
}

.modal-error__intro {
  text-align: center;
}
