.searching-hostel {
  margin: 61px 0 66px 0;
  padding: 0 180px;
  text-align: center;
}

.searching-hostel__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
}

.searching-hostel__button {
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  padding: 15px 49px 18px;
  font-weight: 700;
  @media (min-width: @tablet-width) {
    padding: 15px 101px 18px;
  }
}

.searching-hostel__description {
  margin-bottom: 46px;
}
