.searching-hostel {
  margin: 0 auto;
}

.searching-hostel__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
}

.searching-hostel__button {
  background-color: #81B3D2;
  color: #ffffff;
  text-decoration: none;
}
