.site-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site-list__link {
    font-weight: 700;
    text-decoration: none;
    color: #000000;

    &--active {
        color: #766357;
    }
}

@media (min-width: @tablet-width) {
    .site-list {
      width: 668px;
    }
}

@media (min-width: @desktop-width) {
    .site-list {
      width: 1050px;
    }
}